.dashboard-container {
  display: flex;
  height: 100vh;
  background-color: #0b1629;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

/* Sidebar */
.sidebar {
  width: 230px;
  background-color: #111c3d;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
}

.sidebar-role {
  font-size: 12px;
  color: #9ca3af;
  margin-bottom: 30px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar-menu li:hover,
.sidebar-menu .active {
  background-color: #1d4ed8;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 30px;
}

.dashboard-title {
  font-size: 22px;
  margin-bottom: 25px;
}

/* Top Cards */
.top-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background-color: #1e293b;
  padding: 20px;
  flex: 1;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.card p {
  color: #9ca3af;
  font-size: 14px;
}

.card h2 {
  color: #fff;
  font-size: 24px;
  margin-top: 8px;
}

/* Charts Section */
.charts-section {
  display: flex;
  gap: 20px;
}

.chart-card {
  background-color: #1e293b;
  flex: 1;
  padding: 20px;
  border-radius: 10px;
}

.chart-card h3 {
  font-size: 16px;
  margin-bottom: 15px;
}

.chart-placeholder {
  background-color: #0f172a;
  height: 250px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #64748b;
  font-size: 14px;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  width: 70%;
  padding: 20px;
  border-radius: 10px;
}

.popup-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.popup-table th,
.popup-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.print-btn {
  padding: 6px 12px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn {
  margin-top: 15px;
  padding: 8px 16px;
  background: red;
  color: white;
  border: none;
  border-radius: 6px;
}
