.tambahbarang-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0b132b;
  height: 100vh;
  padding: 20px;
}

.tambahbarang-box {
  background: #ffffff;
  width: 500px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(10, 10, 10, 0.2);
}

.tambahbarang-box h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #1c2541;
  font-weight: 600;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  color: #1c2541;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #bfbfbf;
  outline: none;
  transition: 0.3s;
}

.form-group input:focus {
  border-color: #3a506b;
}

.preview {
  margin-top: 10px;
  text-align: center;
}

.preview img {
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}


.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-save, .btn-reset {
  width: 48%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.btn-save {
  background: #3a506b;
  color: white;
}

.btn-save:hover {
  background: #1c2541;
}

.btn-reset {
  background: #e63946;
  color: white;
}

.btn-reset:hover {
  background: #b02a37;
}
input[type="file"] {
  display: block;
  background-color: #2f3542;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin-top: 5px;
  width: 100%;
  cursor: pointer;
}
